.shop-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.cart-container{
    background-color: rgba(184, 45, 240, 0.26);
    border-radius: 20px;
}
.cart-container:hover{
    transition: 1s;
    background-color: rgba(147, 56, 252, 0.89);
    color: white;
    border-radius: 20px;
}

 .products-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin: 100px 16px;
 }

.cart-btn{
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(0, 0, 0);
  
}
.cart-btn:hover{
    background-color: rgb(237, 212, 247);
    color: black;
}

  /* All media query */
 @media screen and (max-width: 1312px) {
     .products-container{
         grid-template-columns: repeat(3, 1fr);
     }
 }
 @media screen and (max-width: 992px) {
     .products-container{
         grid-template-columns: repeat(2, 1fr);
     }
     .shop-container{
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
    }
 }

 @media screen and (max-width: 688px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
    }
    
}