.product{
    width: 350px;
    height: 450px;
    box-shadow: 1px 3px 15px 4px rgba(17, 17, 17, 0.295);
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 248px;
    height: 248px;
    margin-top: 55px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 0px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: -4px;
}

.product-name{
    font-size: 21px;
    font-weight: 500;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background-color: rgba(228, 203, 252, 0.842);
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0px ;
    bottom: 0px;
    padding-top: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-cart p {
    margin-top: 15px;
    
}
.btn-cart:hover{
    background-color: rgba(147, 56, 252, 0.89);
    color: white;
}